:root{
    --error-bg: #f0adad;
    --error-border: #a94343;
    --toastify-font-family: "Outfit", sans-serif;
    --toastify-toast-width: 300px;
    --toastify-color-success: #42c347;
    --toastify-color-warning: #e5ba0f;
    --toastify-toast-padding: 10px;
}

[data-theme='dark']{
    --primary-text: #e0e0e0;
    --secondary-text: #c9c9c9;
    --primary-bg: #0e1118;
    --secondary-bg: #0b0d13;
    --select-bg: #151d2c;
    --header-bg: #0c101ad8;
    --side-panel-hover-bg: #13234690;

    --primary-accent: #375ead;
    --primary-gradient: linear-gradient(90deg, rgb(61, 135, 255), rgb(148, 61, 255), rgb(126, 61, 255), rgb(58, 134, 255));

    --primary-border: #212b3b;
    --secondary-border: #3b5a96;
    
    --logo-src: url("https://files.catbox.moe/8bst3m.png");
    --bg-src: url('https://files.catbox.moe/bkm7io.png');
}

[data-theme='pink'] {
    --primary-text: #2e2e2e;
    --secondary-text: #5a5a5a;
    --primary-bg: #fff8fb;
    --secondary-bg: #fff0f5;
    --select-bg: #ffeaf1;
    --header-bg: #ffd6e5cc;
    --side-panel-hover-bg: #ffd6e5cc;

    --primary-accent: #ff9ebb;
    --primary-gradient: linear-gradient(
        90deg,
        rgb(255, 145, 182),
        rgb(254, 175, 224),
        rgb(247, 167, 213),
        rgb(255, 149, 220)
    );

    --primary-border: #e6cbd5; 
    --secondary-border: #f595ba;

    --logo-src: url("https://files.catbox.moe/xgg6fa.png");
    --bg-src: url("https://files.catbox.moe/v5m0mh.png");
}

[data-theme='light'] {
    --primary-text: #1c1c1c; 
    --secondary-text: #5a5a5a; 
    --primary-bg: #f8f9fa;
    --secondary-bg: #ffffff; 
    --select-bg: #e9f3ff; 
    --header-bg: #e6f0ffcc; 
    --side-panel-hover-bg: #e6f0ffcc; 

    --primary-accent: #3a78d4;
    --primary-gradient: linear-gradient(90deg, rgb(61, 135, 255), rgb(148, 61, 255), rgb(126, 61, 255), rgb(58, 134, 255));

    --primary-border: #d0d0d0; 
    --secondary-border: #82ade9;

    --logo-src: url("https://files.catbox.moe/8bst3m.png");
    --bg-src: url("https://files.catbox.moe/v5m0mh.png");
}


*, *::before, *::after {
  box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    color: var(--primary-text);
    transition: background-color ease-in-out 0.2s;
}

body{
    background-color: var(--secondary-bg);
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    height: 5px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.6);
    border-radius: 10px;
}

.Header{
    backdrop-filter: blur(30px);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--header-bg);
    position: sticky;
    gap: 10px;
    top: 0;
    z-index: 101;
    display: grid;
    justify-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--primary-border);
}

.theme-option{
    height: 25px;
    width: 25px;
    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in-out 0.2s;
}

.theme-option:hover{
    transform: scale(1.05);
    transition: transform ease-in-out 0.2s;
}

#theme-light{
    background-color: #e0e0e0;
    border-color: #c9c9c9;
}

#theme-dark{
    background-color: #1a1c1d;
    border-color: #e0e0e0;
}

#theme-pink{
    background-color: #ff9ebb;
    border-color: #f5a7c5;
}

.Header div{
    align-self: center;
}

.site-title{
    font-weight: 700;
    font-size: 28px;
    display: flex;
    cursor: pointer;
    align-items: center;
} 

.site-title div{
    width: 35px;
    height: 35px;
    background-image: var(--logo-src);
    background-size: contain;
}

.NotHome{
    display: flex;
    /* overflow-x: hidden; */
}

.Search{
    width: 100%;
}

.search-bar{
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

h2{
    font-weight: 500;
}

.search-bar input[type=text]{
    font-size: 1.5rem;
    padding: 3px 6px;
    border-radius: 4px;
    width: 90%;
    background-color: var(--secondary-bg);
    border: 1px solid var(--primary-border);
}

.search-bar button{
    border: none;
    font-size: 21px;
    padding: 3px;
    margin: 3px 0;
    background-color: var(--secondary-bg);
    color: var(--primary-accent);
    cursor: pointer;
    margin-left: 5px;
}

.search-bar select{
    font-size: 17px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: var(--select-bg);
    color: var(--secondary-text);
    cursor: pointer;
    border: 1px solid var(--primary-border);
    margin-right: 0.5rem;
}

.recent-search-wrapper{
    margin: 0 2rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.recent-search-container{
    max-width: 60vw;
    white-space: nowrap;
    overflow-x: scroll;
    align-items: center;
}

.clear{
    border: none;
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    cursor: pointer;
}

.recent-search{
    margin: 0.5rem;
    font-size: 17px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: var(--select-bg);
    color: var(--secondary-text);
    cursor: pointer;
    border: 1px solid var(--primary-border);
    margin-right: 0.5rem;
}

.search-bar div{
    margin-bottom: 0.75rem;
}

.sidepanel{
    background-color: var(--primary-bg);
    display: grid;
    grid-template-rows: repeat(5,auto) 1fr;
    height: calc(100vh - 55px);
    position: sticky;
    top: 55px;
    z-index: 100;
    min-width: 190px;
    padding: 0.5rem;
    border-right: 1px solid var(--primary-border);
}

.sidepanel > div {
    display: grid;
}
.sidepanel div a {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--primary-border);
    width: 90%;
}

.sidepanel a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 16px;
    padding: 0.75rem;
    width: 100%;
}

.sidepanel a:hover{
    background-color: var(--side-panel-hover-bg);
}

.sidepanel .highlight{
    background-color: var(--primary-accent);
}

.sidepanel .highlight:hover{
    background-color: var(--side-panel-hover-bg);
}

.theme-options{
    display: flex !important;
    gap: 3px;
    margin-left: 3px;
    margin-top: 10px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--primary-border);
    background-color: var(--secondary-bg);
    justify-content: center;
}

.button-top{
    background-color: var(--primary-bg);
    border: 1px solid var(--secondary-text);
    outline: none;
    font-size: 1rem;
    align-self: center;
    border-radius: 7px;
    color: var(--primary-text);
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem;
    transition: all ease-in-out 0.2s;
}

.button-top:hover{
    border: 1px solid var(--primary-accent);
    background-color: var(--secondary-bg);
    transform: scale(1.03);
    transition: all ease-in-out 0.25s;
}

@media (max-width: 750px){
    .sidepanel{
        position: static;
        height: fit-content;
        width: 100vw;
        padding: 0;
    }
    .sidepanel a:hover{
        width: 100%;
    }
    .NotHome{
        display: grid;
        grid-template-columns: none;
    }
}

.search-results-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.search-results-wrapper{
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.search-result{
    width: 150px;
    border: 1px solid var(--primary-border);
    overflow:hidden;
    border-radius: 7px;
    transition: all ease-in-out 0.2s;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.search-result:hover{
    transform: scale(1.02);
    transition: all ease-in-out 0.2s;
}

.search-result .info{
    background-color: var(--primary-bg);
    padding: 5px;
    border-top: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-result .cover{
    border-bottom: 1px solid var(--primary-border);
    height: 210px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.change-header{
    font-size: 15px;
    padding: 3px 6px;
    border-radius: 4px;
    background-color: var(--select-bg);
    color: var(--secondary-text);
    cursor: pointer;
    border: 1px solid var(--primary-border);
}

.search-result .title{
    font-size: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    margin-bottom: 10px;
    @supports (-webkit-line-clamp: 2) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: initial;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
}

.search-result .score{
    position: absolute;
    z-index: 100;
    top: 5px;
    left: 5px;
    font-size: 13px;
    color: var(--primary-text);
    padding: 3px;
    border-radius: 10px;
    border: 1px solid var(--secondary-border);
    background-color: var(--primary-accent);
    width: fit-content;
}

.search-result .rating{
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
    background-color: var(--secondary-bg);
    direction: rtl;
}

.search-result .rating label{
   font-size: 17px;
   color: rgb(175, 175, 175);
   cursor: pointer;
   transition: transform 0.1s ease;
}

.search-result .rating input{
    display: none;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: rgb(245, 222, 121);
}

.rating .yes {
    color: rgb(245, 222, 121);
}

.rating label:active {
    transform: scale(0.8);
}

.episodes{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
.episodes input{
    min-width: 1rem;
    width: fit-content;
    background-color: var(--primary-bg);
    border: 1px solid var(--primary-border);
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}

.search-result .status{
    background-color: var(--secondary-bg);
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.search-result button {
  display: flex;
  width: 100%;
  background-color: var(--primary-border);
  cursor: pointer;
  border: none;
  padding: 5px;
  justify-content: center;
  border-radius: 7px;
  font-size: 15px;
  overflow: hidden;
  position: relative;
}

/*HOME*/

.swiper-wrapper img {
  max-width: 175px;
  height: 100%;
  padding: 0 15px;
  object-fit: cover;
}

.swiper-slide{
  border-radius: 8px;
}

.swiper-wrapper img:last-of-type {
  padding-left: 0;
}

.inner {
    margin: 1rem 0;
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 45vh;
  mask:
   radial-gradient(60% 30% at top    ,transparent 70%, #fff) top   /100% 50% no-repeat,
   radial-gradient(60% 30% at bottom ,transparent 70%, #fff) bottom/100% 50% no-repeat;
}

.swiper-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}

section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}


#home{
    height: calc(100vh - 60px);
    align-items: center;
    align-content: center;
    justify-items: center;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

#home:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
    filter: blur(2px);
    background-image: var(--bg-src);
    background-size: cover;
    background-color: #0000007a;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn {  
    transition: 0.5s ease-in-out;  
    height: 3rem;  
    width: 200px;  
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;  
    border: none;  
    background-size: 300% 100%;  
    border-radius: 50px;
    background-image: var(--primary-gradient);  
    box-shadow: rgba(131, 82, 161, 0.68) 0px 2px 15px 0px;
    margin: 1rem;
    margin-bottom: 0.2rem;
    justify-self: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}  

.btn:hover {  
    transition: 0.5s ease-in-out;  
    background-position: 100% 0px;
    transform: scale(1.03);
}

a{
    text-decoration: none;
}  

.slogan{
    display: flex;
    justify-self: center;
    font-size: 7vw;
    font-weight: 500;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.caption{
    justify-self: center;
    margin-bottom: 0.5rem;
}

@media (min-width: 700px) {
    .slogan{
        font-size: 5.5vw;
    }
    #home nav{
        font-size: 2vw;
    }
    .Header{
        justify-content: space-between;
        display: flex;
    }
    .caption{
        font-size: 1.9vw;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 400px) {
  .search-bar div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .search-bar input[type=text]{
        max-width: 175px;
    }
}


.section-header{
    position: relative;
    width: 100%;
    height: 25vh;
}

.section-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 80%;
    mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
    filter: blur(2px);
}

.list-container-wrapper{
    width: 100%;
    padding: 2rem;
    padding-left: 3rem;
}

.list-page{
    width: 100%;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 88vw;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 1.25rem;
}

@media (max-width: 750px) {
    .section-header img{
        width: 100vw;
    }
    .list-container{
        gap: 1rem;
        max-width: 100vw;
    }
}

.section-header h2{
    position: absolute;
    left: 3rem;
    bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.section-header > button{
    position: absolute;
    right: 3rem;
    top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

.sign-up{
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-image: var(--bg-src);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sign-up .wrapper {
    background-color: var(--primary-bg);
    padding: 1rem;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.sign-up form div{
    display: grid;
    margin-top: 10px;
}

.sign-up a {
    text-decoration: underline;
}

.sign-up form input{
    border-radius: 7px;
    border: 1px solid var(--primary-border);
    background-color: var(--primary-bg);
    font-size: 17px;
    padding: 5px;
}

.sign-up form button{
    color: var(--primary-text);
    border-radius: 7px;
    padding: 0.3rem;
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: var(--primary-accent);
    margin: 15px 0 10px;
    cursor: pointer;
}

.sign-up form button:disabled{
    background-color: var(--primary-border);
    color: var(--primary-bg);
    cursor: not-allowed;
}

.error{
    background-color: var(--error-bg);
    border: 1px solid var(--error-border);
    color: var(--error-border);
    padding: 5px;
    border-radius: 8px;
}

#profile{
    display: flex;
    flex-direction: row;
}

.profile-info{
    padding: 1rem 0 1rem 2rem;
    width: 25%;
    max-width: 300px;
    height: 50vh;
    position: sticky;
    top: 3.5rem;
    gap: 1rem;
    left: 0;
    display: flex;
    flex-direction: column !important;
    align-items: center;
}

.profile-info button{
    background-color: var(--primary-accent);
    border: 1px solid var(--secondary-border);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.pfp{
    border-radius: 50%;
}

@media (max-width: 500px) {
    #profile{
        flex-direction: column;
    }
    .profile-info{
        width: 100%;
        height: auto;
        position: unset;
    }
    .pfp{
        width: 50%;
    }
    .list-container-wrapper{
        padding: 1.5rem;
    }
}

.pfp{
    width: 100%;
}